---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Connaissance approfondie de l'industrie immobilière :</h2>
		<p>Un consultant immobilier doit avoir une connaissance approfondie du marché immobilier local, y compris les tendances actuelles du marché, les taux d'intérêt, les conditions économiques, les prix des propriétés, les quartiers et les zones géographiques en demande..</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Compétences en communication: </h2>
		<p>Un consultant immobilier doit être capable de communiquer efficacement avec les clients et les parties prenantes impliquées dans la transaction immobilière. Cela comprend la capacité de comprendre les besoins et les préférences des clients, d'expliquer les détails complexes de la transaction immobilière et de négocier des accords avec les acheteurs, les vendeurs et les autres professionnels de l'industrie.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Capacité à gérer les détails:</h2>
		<p>La vente ou l'achat d'une propriété peut être une entreprise complexe, avec de nombreuses étapes et détails à gérer. Un consultant immobilier doit être en mesure de gérer efficacement ces détails, notamment la documentation légale, l'inspection de la propriété et les rapports d'expertise, les évaluations et les négociations pour garantir que la transaction se déroule en douceur et dans les délais impartis.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
